body{
	background:url('NEW.png')no-repeat;
	background-size:2500px 900px;
	padding-top:70px;
}

h1{
	font-family:Times New Roman;
	font-weight:bolder;
	text-align:center;
	color:white;
	font-size:70px;
	padding-top:7a0px;
 }
form {
                width:500px;
                margin:50px auto;
                
}

.button{
color:red
}

.formm{
	width:40%;
	height:30px;
	position:absolute;
	bottom:410px;
	left:500px;
}

.btn{
	position:absolute;
	bottom:350px;
	width:10%;
	height:40px;
	left:729px;
	background-color:dodgerblue;
	color:white;
}
