<html>
    <head>
        
        <link rel="stylesheet" type='text/css' href="static/styles.css" />
        
      <head>    
          
    <body>
        
         <h1>Welcome to Gomtion Corps</h1>
    <p>We are dealers in electronic appliance and web development services. We bring technology to your door step</p>
    <form>
                                <input type="text" placeholder="Search..." required>
                                <input type="button" value="Search">
</form>
    
    <body>
    
</html>
